@charset "UTF-8";

/*確認ダイアログ*/
.check_dialog_container {
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 2;
}

.check_dialog_body {
	background: #fff;
	margin: 50px auto;
	padding: 20px;
	width: 335px;
}

.space_between {
	justify-content: space-between;
}