@charset "UTF-8";

.list_title {
	margin-top: 0 !important;
}

.list_table {
	display: block;
}

.table_wrapper {
	max-height: 600px;     /* 固定高さ */
	overflow-y: auto;      /* 縦スクロール */
	overflow-x: hidden;    /* 横スクロール不要なら非表示 */
	margin: auto;
}

th {
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 2;            /* ヘッダーを前面に */
	background-color: lavender;
}

th, td {
	border-top: none !important;
}

td {
	vertical-align: middle !important;
	word-break: normal;
}

.td_link {
	width: 56px;
}

.delete_link {
	color: red;
}

.td_honolific {
	width: 56px;
}

.td_tel_number {
	width: 128px;
}
