@charset "UTF-8";
.edit_modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal_content {
  background: #fff;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
}