/* 画面中央寄せ（上部に余白あり） */
body {
    font-family: sans-serif;
    font-size: 15px;
    
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* 白いカード枠 */
.container {
    width: 650px;
    
    border-radius: 6px;
    padding: 20px 25px;
}

.title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

/* 入力ボックス調整 */
.input-small {
    width: 100px;
}
.input-mid {
    width: 200px;
}

/* テキストエリア */
.result-box {
    height: 220px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* 文章作成とコピーのY位置を揃える */
.button-row {
    margin-bottom: 5px;
}
