<!--相手先情報リスト-->
<div class="container">
	<h3 class="my-4">相手先リスト</h3>
	<div class="row">
		<div class="table_wrapper">
			<table class="table table-striped list_table">
				<!--カラム名-->
				<tr>
					<th>編集</th>
					<th>社名</th>
					<th>氏名</th>
					<th>役職</th>
					<th>電話番号</th>
					<th>削除</th>
				</tr>

				<!--データ-->
				<tr>
					<!--	編集モーダルを開くボタン-->
					<td><a href="#" class="open_edit_modal">編集</a></td>

					<!--社名-->
					<td>TB</td>

					<!--氏名-->
					<td>吉田</td>

					<!--役職-->
					<td>所長</td>

					<!--電話番号-->
					<td>ー</td>

					<!--削除ボタン-->
					<td><a href="#">削除</a></td>
				</tr>

				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>TB仙台</td>
					<td>西牧</td>
					<td>課長</td>
					<td>ー</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>TB仙台</td>
					<td>小野</td>
					<td>主任</td>
					<td>ー</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>TB那須</td>
					<td>長瀬</td>
					<td>所長</td>
					<td>ー</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>TB那須</td>
					<td>深澤</td>
					<td>様</td>
					<td>ー</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>TB本社</td>
					<td>赤羽</td>
					<td>部長</td>
					<td>ー</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>トヨタレンタリース栃木</td>
					<td>大竹</td>
					<td>ー</td>
					<td>070-3878-4163</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>日研トータルソーシング</td>
					<td>内海</td>
					<td>ー</td>
					<td>03-5711-6452</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>日研トータルソーシング</td>
					<td>内海</td>
					<td>ー</td>
					<td>080-4149-4835</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>リクルートスタッフィング</td>
					<td>及川</td>
					<td>ー</td>
					<td>03-6700-9771</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>リクルートスタッフィング</td>
					<td>斉藤</td>
					<td>ー</td>
					<td>03-6700-9771</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal">編集</a></td>
					<td>リクルートスタッフィング</td>
					<td>大野</td>
					<td>ー</td>
					<td>03-6700-9771</td>
					<td><a href="#">削除</a></td>
				</tr>
				<tr>
					<td><a href="#" class="open_edit_modal"></td>
					<td>大曲厚生医療センター</td>
					<td>いとうけいこ</td>
					<td>ー</td>
					<td>000-0000-0000</td>
					<td><a href="#">削除</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
