<!--相手先情報リスト-->
	<div class="align-items-center py-5">
		<div class="list_container">
			<div class="row">
				<div class="col mx-auto">
					<h3 class="login-heading my-4">相手先情報一覧</h3>
					<table class="table table-striped">
						<!--カラム名-->
						<tr>
							<th>編集</th>
							<th>社名</th>
							<th>氏名</th>
							<th>役職</th>
							<th>電話番号</th>
							<th>削除</th>
						</tr>

						<!--データ-->
						<tr>
							<!--	編集モーダルを開くボタン-->
							<td><a href="list.html">編集</a></td>

							<!--社名-->
							<td>TB</td>

							<!--氏名-->
							<td>吉田</td>

							<!--役職-->
							<td>所長</td>

							<!--電話番号-->
							<td>ー</td>

							<!--削除ボタン-->
							<td><button type="submit">削除</button></td>
						</tr>
						
						<tr>
							<td><a href="list.html">編集</a></td>
							<td>日研トータルソーシング</td>
							<td>内海</td>
							<td>ー</td>
							<td>000-0000-0000</td>
							<td><button type="submit">削除</button></td>
						</tr>
						<tr>
							<td><a href="list.html">編集</a></td>
							<td>リクルートスタッフィング</td>
							<td>及川</td>
							<td>ー</td>
							<td>000-0000-0000</td>
							<td><button type="submit">削除</button></td>
						</tr>
						<tr>
							<td><a href="list.html">編集</a></td>
							<td>大曲厚生医療センター</td>
							<td>いとうけいこ</td>
							<td>ー</td>
							<td>000-0000-0000</td>
							<td><button type="submit">削除</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>