<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
		integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="/list.css">
	<link rel="stylesheet" href="/style.css">
	<title>電話メモ</title>
<style>
.panel {
	width: 50%;
	float: left;
}
</style>
</head>

<body>
	<div class="panel" th:insert="~{index}"></div>
	<div class="panel" th:insert="~{list}"></div>
</body>

</html>